<h3><i class="fas fa-laptop-code"></i> Tech-Manthra</h3>
<div class="section">
    <p class="lead">Create Tech Posts here..</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="waves-effect waves-light btn-large darken-1">Log in with Google</a>
</div>